*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #0f0d13;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.card-player {
    background: #2a2141;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.8;
}

.conteu-musica p {
    font-size: 2.4rem;
}

.conteu-musica span {
    font-size: 1.8rem;
}

.controles {
    margin: 10px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
}

.controles button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container-progresso input{
    width: 100%;
}

.tempo-musica {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    opacity: 0.8;
}





