@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding: 0;
}

.container {
    background: #0f0d13;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.card-player {
    background: #2a2141;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}

.conteu-musica p {
    font-size: 2.4rem;
}

.conteu-musica span {
    font-size: 1.8rem;
}
